<div
    class="hidden md:flex items-center bg-surface-container-lowest border-2 border-outline/20 px-3 py-1.5 focus-within:border-[#108a25] focus-within:shadow-[0_0_10px_rgba(16,138,37,0.2)] transition-all duration-300 rounded-full">
    <span class="material-symbols-outlined text-outline mr-2 text-sm">search</span>
    <input
        class="bg-transparent border-none focus:ring-0 font-label text-xs uppercase tracking-widest placeholder:text-outline/40 w-40 lg:w-48 outline-none"
        placeholder="SEARCH MARIO..." type="text" />
</div>