<!-- Messenger -->
<button
    class="relative w-10 h-10 flex items-center justify-center bg-[#58fb62]/40 dark:bg-[#00628a]/50 text-[#108a25] dark:text-[#57c357] rounded-full hover:bg-[#58fb62] dark:hover:bg-[#00628a] hover:text-[#bb000c] hover:scale-110 hover:shadow-lg transition-all duration-300 active:scale-95">
    <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">chat</span>
    <span
        class="absolute -top-1 -right-1 w-4 h-4 bg-[#bb000c] text-[10px] text-white font-bold flex items-center justify-center leading-none rounded-full border border-[#e1ffd8]">5</span>
</button>